{
  "extends": ["nzap", "nzap/typescript", "nzap/react"],
  "rules": {
    "import/no-extraneous-dependencies": [
      2,
      {
        "devDependencies": ["gatsby-*.js"],
        "optionalDependencies": false
      }
    ]
  }
}
